.m-2 {
  margin: 0.5rem
}

.mt-2 {
  margin-top: 0.5rem
}

.w-40 {
  width: 10rem
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.p-10 {
  padding: 2.5rem
}

.p-5 {
  padding: 1.25rem
}

.p-2 {
  padding: 0.5rem
}

.pl-6 {
  padding-left: 1.5rem
}

.pb-8 {
  padding-bottom: 2rem
}

.pt-4 {
  padding-top: 1rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-semibold {
  font-weight: 600
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}
